.about {
	margin-top: 7em;
	color: #eee;
	text-align: center;
	font-family: Gruppo;
}

.about h3 {
	font-size: 5em;
	margin-bottom: 0.2em;
}

.about hr {
	width: 40%;
}

.about p {
	width: 70%;
	margin: auto;
	margin-top: 1.3em;
	margin-bottom: 1.3em;
	font-size: 1.7em;
	line-height: 1.3em;
}