body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: rgb(12, 12, 16);
}

header {
	background-image: linear-gradient(hsl(186, 42%, 59%), hsl(186, 42%, 69%));
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-direction: row;
}

header img {
	width: 100%;
}

.logo {
	margin: 1.3em 3.5em;
	width: 70px;
	filter: brightness(100%);
	transition: filter 0.3s;
}

.logo:hover {
	filter: brightness(88%);
}

nav {
	margin: auto 7em;
	display: flex;
	justify-content: space-between;
}

nav a {
	color: #eee;
	font-size: 3em;
	height: 53.86px;
	margin: 0 0.5em;

	transition: background-color 0.35s, height 0.35s;
}

nav a img {
	height: 53.86px;

	transition: height 0.35s;
}

nav a:hover {
	height: 60px;
}

.port {
	border-radius: 50px;
}

.port:hover {
	background-color: #eee;
}

.con {
	border-radius: 15px;
}

.con:hover {
	background-color: #eee;
}

nav a:hover img {
	height: 60px;
}

.hero {
	background-image: url("../assets/images/stuff2.jpg"), linear-gradient(rgba(12, 12, 16, 0.5) 0%, rgba(12, 12, 16, 0.65) 93%, rgba(12, 12, 16, 1) 97%);
	background-size: cover;
	background-position: center;
	background-blend-mode: darken;
	background-repeat: no-repeat;

	width: 100%;
	height: 60vh;
}

.hero h1 {
	color: #eee;
	font-size: 6em;
	font-family: Kalam;

	position: absolute;
	top: 2.5em;
	left: 4em;
}

.hero h3 {
	color: #eee;
	font-size: 2em;
	font-family: Kalam;

	position: absolute;
	top: 13.25em;
	left: 11.6em;
}

.cardsdiv {
	display: flex;
	justify-content: space-evenly;
	margin: 4em 0 6em 0;
}

.card {
	width: 17%;
	background-color: hsl(0, 0%, 90%);
	border-radius: 10% 10% 3% 10%;
	text-align: center;
	height: auto;
	transition: color 0.3s, background-color 0.3s, box-shadow 0.2s, translate 0.3s;
}

.card:hover {
	color: hsl(0, 0%, 20%);
	background-color: hsl(0, 0%, 80%);
	box-shadow: 5px 5px 7px rgba(180, 180, 180, 0.25);
	translate: -3px -3px;
}

.card h3 {
	font-size: 3.5em;
	font-size: 3.6vw;
	padding: 0.25em 0.5em 0.25em 0.5em;
	margin: 0;
	font-family: Gruppo, 'Bakbak One';
	color: #6FD180;
	transition: color 0.3s;
}

.card img {
	width: 100%;
	border-radius: 10% 10% 0% 10%;
	filter: brightness(75%);
	transition: filter 0.3s;
}

.card:hover h3 {
	color: hsl(131, 31%, 55%);
}

.card:hover img {
	filter: brightness(60%);
}

.card a {
	text-decoration: none;
	color: inherit;
}

footer {
	width: 100%;
	background-image: linear-gradient(hsl(186, 42%, 69%), hsl(186, 42%, 63%));

	display: flex;
	justify-content: space-between;
}

footer p {
	color: #eee;
	color:rgb(12, 12, 16);
	font-family: Gruppo;
	font-size: 2em;
	padding: 0.5em 1em;
	margin: 0;
}

footer .footerflex {
	display: flex;
	width: 15%;
	justify-content: space-evenly;
	align-items: center;
}

footer a {
	height: 45px;
	cursor: pointer;
}

footer img {
	width: 45px;
	transition: filter 0.35s;
}

footer .linkedin {
	filter: grayscale(100%) brightness(30%);
}

footer a:hover .linkedin {
	filter: grayscale(100%) brightness(250%);
}

footer .github {
	filter: invert(0%) brightness(70%);
}

footer a:hover .github {
	filter: invert(100%) brightness(115%);
}