@media only screen and (max-width: 800px) {
	.logo {
		width: fit-content;
		margin: 15px;
	}

	.logo a {
		height: 60px;
	}

	.logo img {
		width: 60px;
		height: 60px;
	}

	.port, .con {
		display: none;
	}

	nav {
		margin: 0;
	}

	.menuicon {
		display: block;
		right: 0;
		margin: auto 15px auto auto;
		width: 55px;
		height: 55px;
		filter: invert(0) brightness(100%);
		cursor: pointer;
		z-index: 6;

		transition: filter 0.35s;
	}

	.menuicon:hover {
		filter: invert(100%) brightness(107%);
	}

	.menuflex {
		display: flex;
		flex-direction: column;
		align-items: end;

		margin-top: 9.5vh;
	}

	.menu {
		position: fixed;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(hsl(186, 42%, 59%), hsl(186, 42%, 69%));
		z-index: 5;
	}

	.menu a {
		font-size: 3em;
		font-family: Gruppo;
		font-weight: bold;
		text-decoration: none;
		color: #eee;
		margin: 2.5vh 10vw;

		transition: color 0.3s;
	}

	.menu a:hover {
		color: #ddd;
	}

	.menu hr {
		width: 60%;
		height: 2px;
		background-color: #444;
		border: none;
		margin-right: 10vw;
	}

	.hero h1 {
		font-size: 4em;
		padding-top: 10vh;
		padding-left: 1em;
	}

	.hero h3 {
		font-size: 1.5em;
		margin: 0.3em 0.8em;
	}

	.card {
		width: 30vw;
	}

	.card h3 {
		font-size: 5vw;
	}

	footer {
		flex-direction: column-reverse;
	}

	footer p {
		margin: auto;
	}

	footer .footerflex {
		width: 100%;
		margin: 10px 0 0 0;
	}

	.footerflex a {
		width: fit-content;
	}
}