@media only screen and (max-width: 800px) {
	.logo {
		width: fit-content;
		margin: 13px;
	}

	.bluelogo {
		display: none;
	}

	.blacklogo {
		display: block;
	}

	.logo a {
		height: 45px;
	}

	.logo img {
		width: 53px;
		height: 53px;
		filter: brightness(100%);

		transition: filter 0.3s;
	}

	.logo:hover img {
		filter: brightness(400%);
	}

	.port, .con {
		display: none;
	}

	header {
		display: block;
		width: 100%;
		height: 81px;
		background-image: linear-gradient(hsl(186, 42%, 59%), hsl(186, 42%, 69%));
	}

	header img {
		height: 50px;
		position: absolute;
		right: 0;
		margin: 15px;
		cursor: pointer;
		filter: brightness(100%);

	}

	nav {
		margin: 0;
		display: none;
	}

	.menuflex {
		display: flex;
		flex-direction: column;
		align-items: end;
		background-image: linear-gradient(hsl(186, 42%, 69%), hsl(186, 42%, 59%));

		padding: 4.5vh 0 0 7vw;
	}

	.menu {
		position: fixed;
		justify-content: space-between;
		width: 100vw;
		height: 100vh;
		/* background-image: linear-gradient(hsl(186, 42%, 59%), hsl(186, 42%, 69%)); */
		z-index: 15;
	}

	.menu a {
		font-size: 3em;
		font-family: Gruppo;
		font-weight: bold;
		text-decoration: none;
		color: #eee;
		width: max-content;
		margin: 2.5vh 10vw 2.5vh 10vw;
		text-align: right;

		transition: color 0.3s;
	}

	.menu a:hover {
		color: #ddd;
	}

	.menu hr {
		width: 60%;
		height: 2px;
		background-color: #444;
		border: none;
		margin-right: 10vw;
	}

	.menushade {
		width: 20vw;
		width: 100%;
		height: 100vh;
		display: inline;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.hero h1 {
		font-size: 4em;
		padding-top: 10vh;
		padding-left: 1em;
	}

	.hero h3 {
		position: relative;
		font-size: 1.5em;
		margin: 0.3em 0.8em;
		z-index: 2;
	}

	.card {
		width: 30vw;
		border-radius: 10% 10% 4% 10%;
	}

	.card h3 {
		font-size: 5vw;
	}

	footer {
		flex-direction: column-reverse;
	}

	footer p {
		margin: auto;
	}

	footer .footerflex {
		width: 100%;
		margin: 10px 0 0 0;
	}

	.footerflex a {
		width: fit-content;
	}
}