/* Global styles */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 18px;
	font-family: 'PT Sans Narrow', Arial, Tahoma, sans-serif;
}

section {
	padding: 3em 6em;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

img {
	max-width: 100%;
}

h1 {
	font-family: 'Anton', Tahoma, sans-serif;
	margin-bottom: 0;
	font-size: 3.5em;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-size: 3.5em;
	font-weight: bold;
	margin-top: 1em;
}

h3 {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
}

a {
	color: #fff;
}

a:hover {
	color: #aaa;
}

.btn {
	background-color: red;
	color: #fff;
	border: 3px solid black;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	padding: 0.7em 1.5em;
	border-radius: 20px;
	font-weight: bold;
}

.btn:hover {
	background-color: darkred;
}

/* Header + nav */

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #232323;
	padding: 0.5em;
}

header img {
	width: 350px;
	color: #fff;
}

nav li {
	display: inline;
	text-align: right;
	padding: 0.5em;
}

nav li a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	font-size: 1.5em;
}

/* Hero */

.hero {
	background-image: url(../images/bike_hero.jpg);
	background-repeat: no-repeat;
	background-position: top;
	padding: 3em;
	height: 57vh;
}

.hero h1 {
	color: #000;
}

/* How */

.flexhow {
	flex-basis: 33%;

}

.how img {
	display: block;
	margin: auto;
	width: 65%;
}

.how p {
	margin-left: 0.7em;
	margin-right: 0.7em;
	font-size: 1.25em;
}

.how {
	margin-top: 0em;
	padding-top: 0.5em;
}

/* Who */

.who {
	background-color: #adc5e4;
	font-size: 1em;
	padding-top: 0.25em;
}

.who .flex-container {
	align-items: flex-start;
}

.flexwhoright {
	flex-basis: 48%;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2em;
}

.flexwholeft {
	flex-basis: 48%;
}

.who img {
	border: 6px solid #dd0000;
}

.who li {
	list-style-type: none;
}

.who i {
	color: #dd0000;
	font-size: 1em;
	padding-right: 1em;
}

/* Testimonials */

.test .flex-container {
	align-items: stretch;
}

.flextest {
	flex-basis: 48%;
	margin: auto;
	font-size: 1em;
}

.testname {
	font-weight: bold;
	color: #282822;
}

.flextest i {
	color: #dd0000;
	float: left;
	font-size: 5em;
	margin-right: 25px;
}

/* Ready to sell */

.ready {
	background-color: #adc5e4;
	text-align: center;
	padding: 2em;
}

.ready h3 {
	margin-bottom: 0.6em;
	margin-top: 0.2em;
}

/* Brand logos */

.brands {
	background-color: white;
}

.brandsimg {
	width: 10%;
	margin: auto;
}

/* Footer */

footer {
	background-color: #282828;
	color: white;
	text-align: center;
	padding: 0.5em 0em;
	font-size: 0.8em;
}

footer li {
	display: inline;
}

footer i {
	color: #dd0000;
	font-size: 3em;
	padding-left: 0em;
	padding-right: 0.5em;
}

footer a i:hover {
	color: #aa0000;
}

footer h2 br {
	display: none;
}


/* Mobile */

@media only screen and (max-width: 767px) {

	body {
		font-size: 1em;
	}

	section {
		padding: 1em;
	}

	.flex-container {
		flex-direction: column;
	}

	header {
		flex-direction: column;
	}

	header img {
		margin: auto;
	}

	.brands {
		display: none;
	}

	nav {
		width: 100%;
	}

	nav img {
		margin: auto;
	}

	nav ul {
		margin: 0;
		padding: 0;
	}

	nav li {
		display: block;
		text-align: center;
		border-bottom: 1px solid white;
		padding: 1em;
		font-size: 1.1em;
	}

	.hero {
		background-image: url(../images/bike_hero_mobile.jpg);
		background-size: cover;
		background-position: center;
		text-align: center;
		padding: 1em 6.5em;
		height: 120vh;
	}

	.hero h1 {
		font-size: 4em;
		margin-top: 0.5em;
	}

	.btn {
		font-size: 1.5em;
		font-weight: bold;
	}

	.how p {
		font-size: 2em;
	}

	.how img {
		width: 50%;
	}

	.who {
		font-size: 1em;
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

	.who p {
		font-size: 1.5em;
	}

	.who li {
		font-size: 1.5em;
	}

	.test {
		padding: 2em;
	}

	.flextest {
		font-size: 1.5em;
	}

	.ready h3 {
		font-size: 2.5em;
		padding-left: 3em;
		padding-right: 3em;
		font-weight: bold;
	}
	
	footer p {
		font-size: 1.9em;
		padding:  0 4em;
	}

	footer h2 {
		font-size: 4em;
		padding: 0 3.5em;
		text-align: center;
		width: fit-content;
		margin: 1em auto;
	}

	.bike .flexbike img {
		width: 100%;
	}

	.bike table {
		width: 100%;
		font-size: 1.5em;
	}

	footer h2 br {
		display: block;
	}

	.contact .btn {
		padding: 0.5em 1em 0.5em 1em;
		font-size: 1.1em;
	}

}

/* Inventory */

.bike {
	padding: 1.5em 2em;
	border-bottom: 4px dashed #dd0000;
}

.bike table {
	border-collapse: collapse;
	margin: auto;
}

.bike td, th {
	border: 1px solid black;
}

.bike th {
	text-align: left;
}

.bike img {
	width: 80%;
}

.flexbike {
	padding-bottom: 1em;
}

/* Contact Page */

.contact {
	width: 45%;
	margin: auto;
}

.contactform {
	margin: 3em auto;
	background-color: #e9e9e9;
	padding-right: 2em;
}

.contactform h3 {
	text-align: left;
	margin-top: -0.7em;
	padding-left: 1em;
	color: #aa0000;
}

.contactform form {
	padding: 0 2em 2em 2em;
}

.contatform form input {
	height: 3em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0.5em 0;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

.contact .btn {
	margin-top: -0.6em;
	width: auto;
	text-align: center;
	font-weight: bold;
	padding: 0.6em 1.8em;
}